extends ../layout

block content

  main(class="uk-container")

    .uk-margin
      form(class="uk-form-stacked")
        .uk-margin
          label(class="uk-form-label uk-text-center" for="form-stacked-text") Username:
          .uk-form-controls
            input(class="uk-input uk-form-width-medium uk-align-center" id="form-stacked-text" type="text" placeholder="Enter username")
        .uk-margin
          label(class="uk-form-label uk-text-center" for="form-stacked-text") Password:
          .uk-form-controls
            input(class="uk-input uk-form-width-medium uk-align-center" id="form-stacked-text" type="password" placeholder="Enter password")
        .uk-margin
          label(class="uk-form-label uk-text-center" for="form-stacked-text") Confirm password:
          .uk-form-controls
            input(class="uk-input uk-form-width-medium uk-align-center" id="form-stacked-text" type="password" placeholder="Confirm password")
